* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --color-principal: #ff9f0d;
    --color-texto: #fff;
    --color1: #212121;
    --color2: #9e9e9e;
    --color-fondo: #111111;

    --titulos: 4rem;
    --subtitulos: 2.5rem;
    --parrafos: 1rem;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 2%;
    transition: all .3s ease;
}

.img-marca {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 10px;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--color-texto);
    font-size: 33px;
}

.logo i {
    vertical-align: middle;
    margin-right: 8px;
    color: var(--color-principal);
}

.nav-lista {
    display: flex;
}

.nav-lista a {
    color: var(--color-texto);
    font-size: var(--parrafos);
    font-weight: 600;
    margin: 0 1.1rem;
    transition: all .3s ease;
}

.nav-lista a:hover {
    color: var(--color-principal);
}

.nav-lista a.activo {
    color: var(--color-principal);
}


.nav-iconos {
    display: none;
}

.nav-iconos i {
    vertical-align: middle;
    font-size: 25px;
    color: var(--color-fondo);
    margin-right: 8px;
    margin-left: 5px;
    transition: all 0.3s ease;
}

.nav-iconos i:hover {
    transform: scale(1.1);
    color: var(--color-texto);
}

#icono-menu {
    font-size: 32px;
    color: var(--color-fondo);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 70px 14% 60px;
}

.inicio {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.imagen-inicio {
    margin-top: 70px;
}

.imagen-inicio img {
    border-radius: 150px 150px 100px 100px;
    width: 90%;
    height: auto;
    box-shadow: 15px -4px 40px #ff9f0d;
    margin-left: 40px;
}

.texto-inicio h1 {
    font-size: var(--titulos);
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1rem;
    margin-top: 40px;
}

span {
    color: var(--color-principal);
}

.btn {
    display: inline-block;
    padding: 15px 35px;
    background-color: var(--color1);
    color: var(--color-principal);
    font-size: var(--parrafos);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    box-shadow: 0 1px 25px #ff9f0d;
}

.btn i {
    vertical-align: middle;
    margin-left: 9px;
    font-size: 22px;
}

.btn2 {
    display: inline-block;
    margin-left: 30px;
    font-size: var(--parrafos);
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--color-principal);
    color: var(--color-principal);
    transition: all 0.3s ease;
}

.btn2:hover {
    transform: scale(1.1) translateX(12px);
}

header.sticky {
    padding-bottom: 20px;
    background-color: var(--color1);
}

.contenedor {
    padding: 30px 14% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    text-align: center;
}

.caja-contenedor {
    padding: 43px;
    background-color: var(--color1);
    border-radius: 3rem;
}

.caja-contenedor img {
    border-radius: 50%;
    width: 100%;
    max-width: 50px;
    height: auto;
}

.caja-contenedor h3 {
    font-size: 17px;
    font-weight: bold;
    margin: 16px 0;
}

.caja-contenedor a {
    color: var(--color2);
    font-size: var(--parrafos);
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.caja-contenedor a:hover {
    color: var(--color-principal);
}

.sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
}

.sobre-nosotros-img img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.sobre-nosotros-texto h2 {
    font-size: var(--subtitulos);
    line-height: 1.3;
    margin-bottom: 2.3rem;
}

.sobre-nosotros-texto p {
    color: var(--color2);
    font-size: var(--parrafos);
    line-height: 30px;
    margin-bottom: 3rem;
}

.texto-medio {
    text-align: center;
}

.texto-medio h2 {
    font-size: var(--subtitulos);
}

.contenido-hamburguesas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}

.fila {
    position: relative;
    padding: 10px 35px 40px;
    background-color: var(--color-principal);
    border-radius: 3rem;
}

.fila img {
    border-radius: 30%;
    aspect-ratio: 4/3;
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
    transition: all 0.3s ease;
    cursor: pointer;
}

.fila img:hover {
    transform: scale(1.1);
}

.fila h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700;
    color: black;
    text-align: center;
}

.fila p {
    color: black;
    font-size: var(--parrafos);
    line-height: 1.1rem;
}

.texto-adentro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.texto-adentro ul {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-size: .7rem;
    font-weight: 700;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.texto-adentro li {
    margin: 5px 10px;
    text-align: justify;
    text-decoration: underline;
    text-decoration-style: double;
}

.texto-adentro p {
    text-decoration: underline;
    margin-bottom: 10px;
    font-weight: 700;
}

.tamaño {
    color: black;
    text-decoration: underline;
    margin: 1rem;
}

.precio {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 20px;
}

.texto-adentro .precio h6 {
    font-size: 17px;
    color: black;
    font-weight: 600;
}

.texto-adentro .fila-btn a {
    display: inline-block;
    padding: 9px 23px;
    margin-top: 20px;
    background-color: var(--color-fondo);
    color: var(--color-principal);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: all 0.3s ease;
}

.texto-adentro .fila-btn a:hover {
    box-shadow: 0 1px 10px #272727;
}

.contenedor-contactanos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.contactanos-texto {
    text-align: center;
    margin-bottom: 4rem;
}

.contactanos-texto h2 {
    font-size: var(--subtitulos);
    margin-bottom: 10px;
}

.contactanos-texto p {
    color: var(--color2);
    font-size: var(--parrafos);
    max-width: 950px;
    line-height: 30px;
    margin-bottom: -1rem;
}

.social i {
    display: inline-block;
    font-size: 32px;
    color: var(--color2);
    margin: 0px 20px 30px 20px;
    transition: all 0.3s ease;
}

.social .clr i {
    color: var(--color-principal);
}

.social i:hover {
    color: var(--color-principal);
}

.detalles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}

.detalle-principal a {
    display: flex;
    align-items: center;
    color: var(--color-texto);
    font-size: 20px;
    font-weight: 600;
}

.detalle-principal i {
    vertical-align: middle;
    margin-right: 12px;
    font-size: 28px;
    color: var(--color-principal);
}

.scroll {
    position: fixed;
    bottom: 2.2rem;
    border-top: 2rem;
    right: 3.2rem;
}

.scroll i {
    font-size: 22px;
    color: var(--color-texto);
    background-color: var(--color-principal);
    padding: 10px;
    border-radius: 2rem;

}

@media(max-width: 1545px) {
    header {
        padding: 22px 4%;
        transition: .1s;
    }

    header.sticky {
        padding: 14px 4%;
        transition: .1s;
    }

    section {
        padding: 50px 4% 40px;
        transition: .1s;
    }

    .contenedor {
        padding: 30px 4% 50px;
    }

    .imagen-inicio img {
        width: 85%;
        margin-left: 0px;
    }
}

@media(max-width: 1180px) {
    :root {
        --titulos: 3.5rem;
        --subtitulos: 2.1rem;
        --parrafos: 15px;
    }

    .inicio {
        height: 85vh;
    }

}

@media(max-width: 1060px) {
    #icono-menu {
        display: initial;
    }

    .nav-iconos {
        display: flex;
        align-items: center;
        padding: 8px 15px;
        background-color: var(--color-principal);
        border-radius: 3rem;
        box-shadow: 0 1px 25px #ff9f0d;
    }

    .nav-lista {
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: var(--color1);
        transition: all .3s ease;
    }

    .nav-lista a {
        display: block;
        padding: 0.5rem;
        margin: 1rem;
        border-left: 2px solid var(--color-principal);
    }

    .nav-lista.abierto {
        top: 100%;
    }
}

@media(max-width: 1045px) {
    :root {
        --titulos: 2.8rem;
        --subtitulos: 1.9rem;
    }

    .imagen-inicio img {
        width: 90%;
        max-width: 490px;
        height: auto;
    }

    .sobre-nosotros-img img {
        width: 100%;
        max-width: 490px;
        height: auto;
    }

    .inicio {
        height: 70vh;
    }

    .contenedor {
        padding: 100px 17% 70px;
    }

    .fila img {
        width: 80%;
        height: auto;
        position: relative;
        left: 11%;
    }
}

@media(max-width: 860px) {
    .inicio {
        grid-template-columns: 1fr;
        height: 118vh;
    }

    .texto-inicio {
        padding-top: 60px;
    }

    .imagen-inicio {
        margin-top: 20px;
        text-align: center;
    }

    .contenedor {
        margin-top: -70px;
    }

    .sobre-nosotros {
        grid-template-columns: 1fr;
    }

    .sobre-nosotros-img {
        text-align: center;
    }
}

@media(max-width: 520px) {
    .social i {
        margin: 0 10px;
    }

    .contactanos-texto {
        max-width: 100%;
    }

    .detalles {
        margin-top: 20px;
        gap: 1.5rem;
    }

}

@media(max-width: 475px) {
    :root {
        --titulos: 2.3rem;
        --subtitulos: 1.9rem;
    }

    .texto-inicio {
        margin-bottom: 30px;
    }

    .btn2 {
        margin-top: 10px;
    }

}

@media(max-width: 440px) {
    .logo {
        font-size: 23px;
    }

    .inicio {
        height: 110vh;
        gap: 0.1rem;
    }

    .imagen-inicio {
        width: 100%;
    }


    .contenedor {
        width: 100%;
        margin-top: -40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .caja-contenedor {
        width: 100%;
    }
}